@font-face {
  font-family: kurale;
  src: url(../fonts/Kurale.ttf);
}

body {
  font-family: kurale;
}

.header {
  background-color: rgba(0, 0, 0, 0.4);
}

.header li a:hover {
  -webkit-transition: color 0.3s ease 0s, visibility 0.3s linear 0s;
  -o-transition: color 0.3s ease 0s, visibility 0.3s linear 0s;
  transition: color 0.3s ease 0s, visibility 0.3s linear 0s;
  color: white !important;
}

.heading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.heading h2 {
  padding: 0px 0px 20px 0px;
  font-weight: bold;
  color: #b32137;
  line-height: 50px;
}

.heading span.desc {
  color: #141012;
  font-size: 17px;
  line-height: 32px;
}

.avatar {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: grey;
  margin: 5px;
  overflow: hidden;
}

.speaker {
  display: inline-block;
}

.speaker>.row {
  background: #ddd;
  border-radius: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  padding: 0 15px 0 1px;
  margin: auto;
}

.more {
  display: none;
}

.statement {
  margin-top: -1.0px;
  margin-left: calc(20px + 5vw);
  ;
  margin-right: -5px;
  margin-bottom: 15px;
  padding: 5px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.links {
  width: 600px;
  max-width: 60vw;
  margin: 0 auto;
}

.imgTrans {
  position: relative;
  margin: 0 auto;
}

.imgTrans img {
  border-radius: 5px;
}

.imgTrans img.bottom {
  -moz-box-shadow: 4px 4px 10px #AAA;
  -webkit-box-shadow: 4px 4px 10px #AAA;
  box-shadow: 4px 4px 6px #AAA;
}

.imgTrans img.top {
  position: absolute;
  top: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.imgTrans img.top:hover, .imgTrans img.transparent {
  opacity: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 180px;
  height: 180px;
  margin: 5px;
  text-decoration: none !important;
  color: #8358a8;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card.flat {
  font-size: 17px;
  width: 190px;
  height: 120px;
  margin: 15px;
  display: flex;
  justify-content: center;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #000, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  font-size: 18px;
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #000;
  background-color: #fcfcfa;
}